METABASE_HOST=metabase.example.com

TRAEFIK_NETWORK=traefik_network
POSTGRES_NETWORK=postgres_network
RESOLVER_NAME=myresolver
HTTPS_MIDDLEWARE=redirect-to-https@docker

METABASE_DB_HOST=postgres
METABASE_DB_PORT=5432
METABASE_DB_NAME=metabase
METABASE_DB_USER=metabase
METABASE_DB_PASSWORD=the-password-for-that-role

MB_ENCRYPTION_SECRET_KEY=generate-me

MB_AGGREGATED_QUERY_ROW_LIMIT=10000
MB_UNAGGREGATED_QUERY_ROW_LIMIT=2000
